}
.line{width: 112px
height:47px;
border-bottom: 1px solid black;
position: relative;
}
}
.line2{width: 112px
height:47px;
border-bottom: 1px solid black;
position: relative;
}
}
.line3{width: 112px
height:47px;
border-bottom: 1px solid black;
position: relative;
}
#structure
{width: 100px;
height 700px;
}
#l3css
{width: 100px;
height 500px;
}
#l3sc
{width: 500px
height: 500px
}
