h1 {
  color: blue;
  font-size:500%;
}
p {
  color: orange;
  font-family: "Avenir";
  text-indent: 30px;
  margin-left: 20px;
}
#content {
  background-color: #cccccc
  width: 500px;
  min-height: : 400px;
  padding: 20px;
  margin: 20px;
  border: solid 2px #444444;
  font-size: 20px;
}
